MyProject/MyProject/Web References/Regservice/Registrationservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="methodregister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pswrd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sex" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="streeet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="town" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phonenum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="que" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ans" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="methodregisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodregisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="methodregisterSoapIn">
    <wsdl:part name="parameters" element="tns:methodregister" />
  </wsdl:message>
  <wsdl:message name="methodregisterSoapOut">
    <wsdl:part name="parameters" element="tns:methodregisterResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationserviceSoap">
    <wsdl:operation name="methodregister">
      <wsdl:input message="tns:methodregisterSoapIn" />
      <wsdl:output message="tns:methodregisterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationserviceSoap" type="tns:RegistrationserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodregister">
      <soap:operation soapAction="http://tempuri.org/methodregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationserviceSoap12" type="tns:RegistrationserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodregister">
      <soap12:operation soapAction="http://tempuri.org/methodregister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registrationservice">
    <wsdl:port name="RegistrationserviceSoap" binding="tns:RegistrationserviceSoap">
      <soap:address location="http://localhost:2497/Registrationservice.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationserviceSoap12" binding="tns:RegistrationserviceSoap12">
      <soap12:address location="http://localhost:2497/Registrationservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>