MyProject/MyProject/Web References/BBuyWebservice/BestBuyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="methodBBUYdetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BBUYid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="methodBBUYdetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodBBUYdetailsResult" type="tns:BestBuydetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BestBuydetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="method_BBUYProdId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_BBUYProdmodel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_BBUYProdtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_BBUYProdname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_BBUYProdprice" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="methodBBUYdetailsSoapIn">
    <wsdl:part name="parameters" element="tns:methodBBUYdetails" />
  </wsdl:message>
  <wsdl:message name="methodBBUYdetailsSoapOut">
    <wsdl:part name="parameters" element="tns:methodBBUYdetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="BestBuyServiceSoap">
    <wsdl:operation name="methodBBUYdetails">
      <wsdl:input message="tns:methodBBUYdetailsSoapIn" />
      <wsdl:output message="tns:methodBBUYdetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BestBuyServiceSoap" type="tns:BestBuyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodBBUYdetails">
      <soap:operation soapAction="http://tempuri.org/methodBBUYdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BestBuyServiceSoap12" type="tns:BestBuyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodBBUYdetails">
      <soap12:operation soapAction="http://tempuri.org/methodBBUYdetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BestBuyService">
    <wsdl:port name="BestBuyServiceSoap" binding="tns:BestBuyServiceSoap">
      <soap:address location="http://localhost:2497/BestBuyService.asmx" />
    </wsdl:port>
    <wsdl:port name="BestBuyServiceSoap12" binding="tns:BestBuyServiceSoap12">
      <soap12:address location="http://localhost:2497/BestBuyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>