MyProject/MyProject/Web References/passwordreset/Resetpassword.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="resetpasswrd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secans" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resetpasswrdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resetpasswrdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="resetpasswrdSoapIn">
    <wsdl:part name="parameters" element="tns:resetpasswrd" />
  </wsdl:message>
  <wsdl:message name="resetpasswrdSoapOut">
    <wsdl:part name="parameters" element="tns:resetpasswrdResponse" />
  </wsdl:message>
  <wsdl:portType name="ResetpasswordSoap">
    <wsdl:operation name="resetpasswrd">
      <wsdl:input message="tns:resetpasswrdSoapIn" />
      <wsdl:output message="tns:resetpasswrdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResetpasswordSoap" type="tns:ResetpasswordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="resetpasswrd">
      <soap:operation soapAction="http://tempuri.org/resetpasswrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResetpasswordSoap12" type="tns:ResetpasswordSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="resetpasswrd">
      <soap12:operation soapAction="http://tempuri.org/resetpasswrd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Resetpassword">
    <wsdl:port name="ResetpasswordSoap" binding="tns:ResetpasswordSoap">
      <soap:address location="http://localhost:2497/Resetpassword.asmx" />
    </wsdl:port>
    <wsdl:port name="ResetpasswordSoap12" binding="tns:ResetpasswordSoap12">
      <soap12:address location="http://localhost:2497/Resetpassword.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>