MyProject/MyProject/Web References/Amazonwebservice/Amazonservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="methodAMAZdetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prod_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="methodAMAZdetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodAMAZdetailsResult" type="tns:Amazondetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Amazondetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="method_AMAZProdid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_AMAZProdmodel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_AMAZProdtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_AMAZProdname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_AMAZProdprice" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="methodAMAZdetailsSoapIn">
    <wsdl:part name="parameters" element="tns:methodAMAZdetails" />
  </wsdl:message>
  <wsdl:message name="methodAMAZdetailsSoapOut">
    <wsdl:part name="parameters" element="tns:methodAMAZdetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="AmazonserviceSoap">
    <wsdl:operation name="methodAMAZdetails">
      <wsdl:input message="tns:methodAMAZdetailsSoapIn" />
      <wsdl:output message="tns:methodAMAZdetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmazonserviceSoap" type="tns:AmazonserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodAMAZdetails">
      <soap:operation soapAction="http://tempuri.org/methodAMAZdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AmazonserviceSoap12" type="tns:AmazonserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodAMAZdetails">
      <soap12:operation soapAction="http://tempuri.org/methodAMAZdetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Amazonservice">
    <wsdl:port name="AmazonserviceSoap" binding="tns:AmazonserviceSoap">
      <soap:address location="http://localhost:2497/Amazonservice.asmx" />
    </wsdl:port>
    <wsdl:port name="AmazonserviceSoap12" binding="tns:AmazonserviceSoap12">
      <soap12:address location="http://localhost:2497/Amazonservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>