MyProject/MyProject/Web References/Storewebservice/StoredetailsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getstoredetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getstoredetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getstoredetailsResult" type="tns:Storedetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Storedetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="method_storename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_storestreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_storecity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_storezip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="method_storephone" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getstoredetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getstoredetails" />
  </wsdl:message>
  <wsdl:message name="getstoredetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getstoredetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="StoredetailsServiceSoap">
    <wsdl:operation name="getstoredetails">
      <wsdl:input message="tns:getstoredetailsSoapIn" />
      <wsdl:output message="tns:getstoredetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoredetailsServiceSoap" type="tns:StoredetailsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getstoredetails">
      <soap:operation soapAction="http://tempuri.org/getstoredetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StoredetailsServiceSoap12" type="tns:StoredetailsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getstoredetails">
      <soap12:operation soapAction="http://tempuri.org/getstoredetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoredetailsService">
    <wsdl:port name="StoredetailsServiceSoap" binding="tns:StoredetailsServiceSoap">
      <soap:address location="http://localhost:2497/StoredetailsService.asmx" />
    </wsdl:port>
    <wsdl:port name="StoredetailsServiceSoap12" binding="tns:StoredetailsServiceSoap12">
      <soap12:address location="http://localhost:2497/StoredetailsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>