MyProject/MyProject/Web References/loginmethod/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="methodlogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="methodloginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodloginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="methodloginSoapIn">
    <wsdl:part name="parameters" element="tns:methodlogin" />
  </wsdl:message>
  <wsdl:message name="methodloginSoapOut">
    <wsdl:part name="parameters" element="tns:methodloginResponse" />
  </wsdl:message>
  <wsdl:portType name="Login1Soap">
    <wsdl:operation name="methodlogin">
      <wsdl:input message="tns:methodloginSoapIn" />
      <wsdl:output message="tns:methodloginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Login1Soap" type="tns:Login1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodlogin">
      <soap:operation soapAction="http://tempuri.org/methodlogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Login1Soap12" type="tns:Login1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="methodlogin">
      <soap12:operation soapAction="http://tempuri.org/methodlogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login1">
    <wsdl:port name="Login1Soap" binding="tns:Login1Soap">
      <soap:address location="http://localhost:2497/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="Login1Soap12" binding="tns:Login1Soap12">
      <soap12:address location="http://localhost:2497/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>